# This file is part of open-vm-tools
# IO timeout for NVMe

ACTION=="add", SUBSYSTEMS=="block", ATTRS{model}=="VMware Virtual NVMe Disk", RUN+="/bin/sh -c 'echo 180000 >/sys$env{DEVPATH}/device/timeout'"
