*.o
*.la
*.lo
*.log
.deps/
.libs/
aclocal.m4
autom4te.cache/
checkvm/vmware-checkvm
config.log
config.status
configure
docs/api/build/
docs/api/doxygen.parsed.conf
guestproxycerttool/vmware-guestproxycerttool
hgfsclient/vmware-hgfsclient
hgfsmounter/mount.vmhgfs
libDeployPkg/libDeployPkg.pc
libguestlib/guestlibIoctl.h
libguestlib/guestlibIoctl_xdr.c
libguestlib/guestlibV3.h
libguestlib/guestlibV3_xdr.c
libguestlib/vmguestlib.pc
lib/guestRpc/nicinfo.h
lib/guestRpc/nicinfo_xdr.c
lib/include/guestrpc/
libtool
Makefile
Makefile.in
rpctool/vmware-rpctool
scripts/build/rpcgen_wrapper.sh
scripts/poweroff-vm-default
scripts/poweron-vm-default
scripts/resume-vm-default
scripts/suspend-vm-default
services/plugins/desktopEvents/sessionMgrSignals.c
services/plugins/desktopEvents/sessionMgrSignals.h
services/plugins/dndcp/cpFileContents.h
services/plugins/dndcp/cpFileContents_xdr.c
services/plugins/vmbackup/guestQuiesce.h
services/plugins/vmbackup/guestQuiesce_xdr.c
services/plugins/vmbackup/vmBackupSignals.c
services/plugins/vmbackup/vmBackupSignals.h
services/vmtoolsd/svcSignals.c
services/vmtoolsd/svcSignals.h
services/vmtoolsd/vmtoolsd
toolbox/vmware-toolbox-cmd
vgauth/cli/vmware-vgauth-cmd
vgauth/service/VGAuthService
vmblock-fuse/vmware-vmblock-fuse
vmhgfs-fuse/vmhgfs-fuse
vmware-user-suid-wrapper/vmware-user.desktop
vmware-user-suid-wrapper/vmware-user-suid-wrapper
xferlogs/vmware-xferlogs
