[Desktop Entry]
Type=Application
Encoding=UTF-8
# NB: Generation of the Open VM Tools tarball depends on this line.  If you change it
# be sure to also fix up OVT staging targets.
Exec=/usr/bin/vmware-user-suid-wrapper
Name=VMware User Agent
# KDE bug 190522: KDE does not autostart items with NoDisplay=tru...
# NoDisplay=true
X-KDE-autostart-phase=1
