[globals]
root_dir=/Users/mdonahue/src/vcm/common-agent/main/Cpp/Subsystems/Communication/src/services/amqpListener
data_dir=${root_dir}/data
log_dir=${root_dir}/log
log_config_file=${root_dir}/log4cpp_config
thread_stack_size_kb=0

[app]
startup-timeout=30000
shutdown-timeout=30000
context-file=${root_dir}/commAmqpListener-context.xml

[amqp]
broker=127.0.0.1
vhost=caf
connection_timeout=5000
connection_retry_interval=5000
channel_cache_size=4
reply_timeout=5000

[subsystems]
# INTEGRATION SYSTEM BEANS
com.vmware.commonagent.integration.objectfactory=IntegrationSubsys
com.vmware.commonagent.integration.channels.errorchannel=IntegrationSubsys
com.vmware.commonagent.integration.channels.nullchannel=IntegrationSubsys
com.vmware.caf.comm.integration.objectfactory=CommIntegration
com.vmware.caf.comm.integration.replytoresolver=CommIntegration
com.vmware.caf.comm.integration.eventtopiccalculator=CommIntegration

# Amqp Listener Context Beans
com.vmware.caf.comm.integration.amqp.caching.connection.factory=CommAmqpIntegration
com.vmware.caf.comm.integration.objects=CommAmqpIntegration
com.vmware.commonagent.integration.headerexpressioninvoker=IntegrationSubsys
